@{
    ViewData["Title"] = "Home Page";
    var logs = ViewBag.logs;
    var model = ViewBag.model;
    var contacts = ViewBag.contacts;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="alert alert-primary text-center " role="alert">
                گزارش و کارکرد لحظه ای کاربر و سیستم
            </div>
            <div class="p-2">
                <input placeholder="فیلتر ..." class="form-control m-1" />
            </div>
            <div>
                <ol class="list-tk overflow-200">
                    @foreach (var item in logs)
                    {
                        <li class="list-item-tk">@item.ToString()</li>
                    }
                </ol>
            </div>
        </div>
        <div class="col-3 text-center">
            <div class="alert alert-primary" role="alert">
                فعالیت ها
            </div>
            <div class="p-2">
                <input placeholder="فیلتر ..." class="form-control m-1" />
            </div>
            <div>
                <ol class="list-tk overflow-200">
                    <li class="list-item-tk btn"><a href="#">/Home/Index</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>فامیل</th>
                    <th>نام کاربری</th>
                    <th>ایمیل</th>
                    <th>رمز</th>
                    <th>تاریخ</th>
                    <th>کلیم</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in contacts)
                {
                    <tr>
                        <td>@contact.ContactID</td>
                        <td></td>
                        <td>@contact.Family</td>
                        <td>@contact.Name @contact.Family</td>
                        <td>@contact.OwnerID</td>
                        <td>@contact.ContactID</td>
                        <td>@contact.ContactID</td>
                        <td>@contact.ContactID</td>
                        <td>
                            <span>
                                <i class="bi bi-pencil-square text-warning cursur-pointer"></i>
                            </span>
                            <span>
                                <i class="bi bi-trash3 text-danger cursur-pointer"></i>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
